*.py[co]

# Vim
*.swp
*.swo

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
.cache
MANIFEST

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Sphinx
docs/_*

# Eclipse files
.project
.pydevproject
.settings

# PyCharm files
.idea

# virtualenv
venv/
.venvs/

# generated rst
docs/snippets/error_code_table.rst

# PyCharm files
.idea
